<!--@ns {{name}} {{title}}-->
<!--@v {{goal}} -->
{{#actions}}
<!--@a See the MD file for more actions -->
{{/actions}}

<!--@cr {{cr}} -->
 {{#id}}<table id="{{id}}">{{/id}}
{{^id}}<table>{{/id}}
<tr><td>

{{innerhtml}}

</td>
</tr>
</table>